.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    color: white;
    font-size: 3rem;
    border-bottom: 2px solid #000;
    background-image: url("/imgs/Hamburguesas/TheSpruce_Diana-Chistruga.portobelloBurger.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}