.menu {
  margin: 2rem auto;
  text-align: center;

  & .carruselSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;

    & .carruselDiv {
      /* border: 3px solid red; */
      width: 45%;
      height: 600px;
      margin: 0 1rem; /* Espaciado vertical entre carruseles */
    }
  }

  & h2 {
    display: inline-block;
    font-size: 2.9rem;
    letter-spacing: 0.5rem;
    font-weight: bolder;
  }

  & h3 {
    margin: 0 auto;
    font-size: 2rem;
  }

  & h4 {
    margin: 0 auto;
    font-size: 1.5rem;
  }

  & .carruselDiv {
    margin: 2rem auto;
  }

  
}
