.pagoFicticio {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  & p {
    font-size: 1.5rem;
    margin: 0.5rem auto;
  }

  & ul {
    & li {
      list-style: none;
      font-size: 1.2rem;
    }
  }
}
