* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* transition: all 0.5s ease-out allow-discrete; */
}

html {
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background-color: whitesmoke;
}

body {
  /* overflow: hidden; */
  scroll-behavior: smooth;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2rem;
}

/* tipografías */
@font-face {
  font-family: "Bungee";
  src: url("/tipografias/Bungee/Bungee-Regular.ttf") format("truetype");
  font-display: swap;
  /*este atributo:valor aseguran que se muestre el texto mientras cargan las fuentes, de otra manera el texto aparece "invisible"*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee", sans-serif;
}
